@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark{
    background-color: #171717;
}

.bg-light-dark{
    background-color: #222222;
}

.red-color{
    background-color: #DA0037;
}


.olive-green{
    background-color:#657a42;
}
.hover-olive-green{
    background-color:#7a8f58;
}
.light-olive-green{
    background-color:#cdd6bb;
}
.hover-light-olive-green{
    background-color: #e0ecc8;
}

.darker-div-bg{
    background-color: #f3f3f3;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }